{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="growl" id="app-growl"></div>

<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/static/img/brand-white.png" alt="brand">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/students/">Students</a>
          </li>
          <li>
            <a href="/staff/">Staffing</a>
          </li>
          <li>
            <a href="/payroll/">Payroll</a>
          </li>
          <li>
            <a href="/schedule/">Schedule</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <!-- <li >
            <a class="app-notifications" href="/notification/">
              <span class="icon icon-bell"></span>
            </a>
          </li> -->
          <li>
          <a href="/administration/">
            <button class="btn btn-success navbar-btn navbar-btn-avitar">
            Logout
            <!-- <img class="img-circle" src="/static/img/avatar-dhg.png"> -->
            </button>
          </a> 
          </li>
        </ul>

        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/students/">Students</a></li>
          <li><a href="/staff/">Staffing</a></li>
          <li><a href="/payroll/">Payroll</a></li>
          <li><a href="/schedule/">Schedule</a></li>
        </ul>
      </div>
  </div>
</nav>
<div class="docs-student" id="student">
      <div class="box-table">
      <form class="navbar-form app-search" role="search" method="GET" action="">
          <!-- <div class="form-group"> -->
            <input type="text" class="form-control" data-action="grow" placeholder="Search" name="q" value="{{request.GET.q}}">
          <!-- </div> -->
        </form>
        <table class="table table-hover table-success" id="myTable">        
  <thead>
    <tr>
      <th>Photo</th>
      <th>Staff ID</th>
      <th>Staff Name</th>
      <th>Highest Qualification</th>
      <th>Number of Subject Teaching</th>
      
    </tr>
  </thead>

  <tbody>
  {% for staff in staffs %}
    <tr id="detail">
      <td class="user-photo"> <a href="/staffdetails/{{ staff.id }}"></a> <img class="user-tumb" src="{{ staff.staff_photo.url }}"></td>
      <td> <a href="/staffdetails/{{ staff.id }}"></a> {{ staff.staffID }}</td>
      <td> <a href="/staffdetails/{{ staff.id }}"></a> {{ staff.firstName }} {{ staff.middleName }} {{ staff.lastName }}</td>
      <td> <a href="/staffdetails/{{ staff.id }}"></a> {{ staff.qualification }}</td>
      <td> <a href="/staffdetails/{{ staff.id }}"></a> {{ staff.numberOfSubject }}</td>      
      
    </tr>
  {% endfor %}
  </tbody>
</table> 

    <div class="pagination">
    <span class="step-links">
        {% if staffs.has_previous %}
            <a href="?page={{ staffs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ staffs.number }} of {{ staffs.paginator.num_pages }}.
        </span>

        {% if staffs.has_next %}
            <a href="?page={{ staffs.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
  </div>
</div>


{% endblock %}