{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="growl" id="app-growl"></div>

<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/static/img/brand-white.png" alt="brand">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/studentloggedin/">Profile</a>
          </li>
          <li>
            <a href="/#">Absent Request</a>
          </li>
          <li>
            <a href="/#">Academic Record</a>
          </li>
          <li>
            <a href="/#">Fees Status</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <a href="/#">{{ username }}</a>
          </li>
          <li>
          <a href="/studentprofile/">Logout</a> 
          </li>
        </ul>

        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/studentloggedin/">Profile</a></li>
          <li><a href="/#">Absent Request</a></li>
          <li><a href="/#">Academic Record</a></li>
          <li><a href="/#">Fees Status</a></li>
        </ul>
      </div>
  </div>
</nav>
<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-profile m-b-md">
        {% if student.student_photo %}
        <div class="panel-heading" style="background-image: url({{ student.student_photo.url }});"></div>
        {% endif %}
        <div class="panel-body text-center">
          <!-- <a href="/profile/">
            <img
              class="panel-profile-img"
              src="{{ student.student_photo.url }}">
          </a> -->
          <h5 class="panel-title">
            <a class="text-inherit" href="/#">{{student.registration.firstName}} {{student.registration.middleName}} {{student.registration.lastName}}</a>
          </h5>

          <p class="m-b-md">{{ gradedetails.grade }} Grade</p>

          <ul class="panel-menu">
            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Gender
                <h5 class="m-y-0">{{ student.registration.gender }}</h5>
              </a>
            </li>

            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Nationality
                <h5 class="m-y-0">{{ student.registration.nationality }}</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default visible-md-block visible-lg-block" id="panel-background">
        <div class="panel-body panel-color">
          <div id="bottom-background">
              <div class="top">
                <h1>About</h1>
                <div class="circle">{{ student.registration.firstName|make_list|first }}{{ student.registration.middleName|make_list|first }}{{ student.registration.lastName|make_list|first }}</div>
              </div>
              <div class="bottom">     
                <ul class="list-unstyled list-spaced">
                    <li><span class="text-muted icon icon-calendar m-r"></span><b>Enrollment Date:</b> {{ student.enrollment_Date }}</li>
                    <li><span class="text-muted icon icon-users m-r"></span><b>Parent:</b> {{parent.firstName}} {{parent.middleName}} {{parent.lastName}}</li>
                    <li><span class="text-muted icon icon-github m-r"></span><b>Level:</b> {{ student.level }}</li>
                    <li><span class="text-muted icon icon-home m-r"></span><b>Address:</b> {{student.registration.address}}</li> 
                    <li><span class="text-muted icon icon-location-pin m-r"></span><b>Birth Place:</b> {{student.registration.placeOfBirth}}</li> 
                </ul>
             </div>
          </div>
       </div>
     </div>

        <!-- </div> -->
      <!-- </div> -->
       <div class="panel panel-default visible-md-block visible-lg-block panel-color">
        <div class="panel-body topdiv">
          <h5 class="m-t-0">Attendance Details <small>· <a href="#">Edit</a></small></h5>
          <div data-grid="images" data-target-height="150">
            <div>
              {% for day in studentattendance %}
              {{ day.day }}: {{ day.status }}<br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

        <li class="media list-group-item p-a">
          <div class="input-group">
            <div class="input-group-btn">
            </div>
          </div>
        </li>

        <li class="media list-group-item p-a">
          <a class="media-left" href="#">
            <img
              class="media-object img-circle"
              src="{{ instance.student_photo.url }}">
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">4 min</small>
              <h5>{{student.registration.firstName}} - Academic year: {{academicyear.yearstart}}/{{academicyear.yearend}}</h5>
            </div>

            <h4>
              Academic Records:
            </h4>
            <table class="responsive-table flat-table" id="myTable">        
            <thead>
                <tr>
                  <th>Semester</th>
                  <th>Period</th>
                  <th>Subject</th>
                  <th>Grade</th>
                </tr>
              </thead>

              <tbody>
                {% for mark in studentmark %}
                  <tr>
                    <td> {{ mark.semester }}</td>
                    <td> {{ mark.peroid }}</td>
                    <td> {{ mark.subject }}</td>
                    <td> {{ mark.gradeScore }}</td> 
                  </tr>
              {% endfor %}
              </tbody>
          </table> 

            <ul class="media-list m-b">
              <li class="media">
                <a class="media-left" href="#">
                  <img
                    class="media-object img-circle"
                    src="/static/img/avatar-fat.jpg">
                </a>
                <div class="media-body">
                  <strong>Jacon Thornton: </strong>
                  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <img
                    class="media-object img-circle"
                    src="/static/img/avatar-mdo.png">
                </a>
                <div class="media-body">
                  <strong>Mark Otto: </strong>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="media list-group-item p-a">
          <a class="media-left" href="#">
            <img
              class="media-object img-circle"
              src="/static/img/avatar-fat.jpg">
          </a>
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="pull-right text-muted">12 min</small>
                <h5>Jacob Thornton</h5>
              </div>
              <p>
                Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </li>

        <li class="media list-group-item p-a">
          <a class="media-left" href="#">
            <img
              class="media-object img-circle"
              src="/static/img/avatar-mdo.png">
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">34 min</small>
              <h5>Mark Otto</h5>
            </div>

            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>

            <div class="media-body-inline-grid" data-grid="images">
              <img style="display: none" data-width="640" data-height="640" data-action="zoom" src="/static/img/instagram_3.jpg">
            </div>

            <ul class="media-list">
              <li class="media">
                <a class="media-left" href="#">
                  <img
                    class="media-object img-circle"
                    src="/static/img/avatar-dhg.png">
                </a>
                <div class="media-body">
                  <strong>Dave Gamache: </strong>
                  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
          <h5 class="m-t-0">Fees Payment Summary</h5>
          <div data-grid="images" data-target-height="150">
            <table class="table table-striped table-hover table-success" id="myTable">        
            <thead>
                <tr>
                  <th>Installment</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>

              <tbody>
                {% for fee in payment %}
                  <tr>
                    <td> {{ fee.installment }}</td>
                    <td> {{ fee.amount }}</td>
                    <td><small>{{ fee.transaction_Date }}</small></td> 
                  </tr>
              {% endfor %}
              </tbody>
          </table> 
          </div>
          <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
          <button class="btn btn-primary-outline btn-sm">Buy a ticket</button>
        </div>
      </div>

      <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
        <h5 class="m-t-0">Likes <small>· <a href="#">View All</a></small></h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b">
            <a class="media-left" href="#">
              <img
                class="media-object img-circle"
                src="/static/img/avatar-fat.jpg">
            </a>
            <div class="media-body">
              <strong>Jacob Thornton</strong> @fat
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                  <span class="icon icon-add-user"></span> Follow</button>
              </div>
            </div>
          </li>
           <li class="media">
            <a class="media-left" href="#">
              <img
                class="media-object img-circle"
                src="/static/img/avatar-mdo.png">
            </a>
            <div class="media-body">
              <strong>Mark Otto</strong> @mdo
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                  <span class="icon icon-add-user"></span> Follow</button></button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="panel-footer">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>

      <div class="panel panel-default panel-link-list">
        <div class="panel-body">
          © 2015 Bootstrap

          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads </a>

          <a href="#">info</a>
          <a href="#">Brand</a>
          <a href="#">Blog</a>
          <a href="#">Status</a>
          <a href="#">Apps</a>
          <a href="#">Jobs</a>
          <a href="#">Advertise</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}